html{
    margin: 0;
    padding: 0;
    background-color: rgb(126, 120, 120);
}
.pudim{
    background-color: #ffff;
    width: 50%;
    height: 720px;
    padding: 20px;
    margin-left: 300px;
    text-align: center;
}

